* {
    /* / height: 100%;/; */
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    background-color: #0F3CC9;
    height: 100px;
    padding: 25px;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 10px 10px;
    padding: 0;
    overflow: hidden;
}

ul input {
    float: right;
    padding: 6px;
    border: none;
    width: 230px;
    /* margin-top: 5px;
    margin-right: 16px; */
    margin: 5px 5px 5px 5px;
    font-size: 20px;
    border-radius: 25px;
    /* / background-color: #061951;/ background-color: #0A2885;
    / color: white;/ / background-color: #000093;/ */
}

ul input::placeholder {
    color: white;
}

ul input {
    background-color: darkblue;
    border: none;
}

li {
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: auto;
    display: table;
}

ul input:hover {
    background-color: rgb(22, 22, 70);

}

li a:hover {
    color: lightgrey;
}

.banner{
    height: 500px;
    background: url("./JPN-HeroBanner_Desktop.jpg");
    background-size: 100% 100%;

}